torch==2.4.1
torchvision==0.19.1
monai==1.4.0
monai-generative==0.2.3
SimpleITK==2.4.0
nibabel==5.2.1
pydicom==2.4.4
pylidc==0.2.3
lungmask==0.2.20
scikit-image==0.24.0
scipy==1.14.1
lpips==0.1.4
torchmetrics==1.4.2
pytorch-fid==0.3.0
omegaconf==2.3.0
pyyaml==6.0.2
tqdm==4.66.5
tensorboard==2.17.1
einops==0.8.0
pytest==8.3.3
numpy<2.0
